@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin:0%;
}




#BarreTopRetour {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 4%;
}

#ColorBarreTopTxt {
    color: white;
}




#Navbar {
    display: flex;
    height: 6%;
    justify-content: space-between;
}

#logo {
    display: flex;
    width: 33%;
    align-items: center;

}

#logoDim {
    height: 80%;
    padding-left: 6%;



}

#lienCentraux {

    display: flex;
    width: 33%;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    
    
}


.cgmTxt {
    color: black;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
}


.iconeNav{

    height: 20px;
    width: 20px;
}

#iconPosition{
    display: flex;
    width: 33%;
    justify-content: end;
    align-items: center;
    
}

#svgPanier {
    color: black;
    width: 10%;
}

#panierMarge {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

#placementElements {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

#imgAvant {
    width: 40%;
    margin-right: 3%;
    
}

#titre { 
    font-size: xx-large;
    margin-bottom: 8%;
    margin-top: -1%;
}

#descProduit {
    display: flex;
    flex-direction: column;
    margin-top: %;
    width: 35%;
}

.margBot {
    margin-bottom: 3%;
}

.imgPetitDesc {
    width: 20%;
 
}

.btnColor {
    width: 4%;
    height: 120%;
}

#btnProd {
    margin-top: 3%;
    width: 40%;
    height: 35%;
    background-color: black ;
    color: white;
    font-size: x-large;
}

