
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin:0%;
}

a{
    text-decoration: none;
    color: black;
}



#BarreTopRetour {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 4%;
}

#ColorBarreTopTxt {
    color: white;
}




#Navbar {
    display: flex;
    height: 6%;
    justify-content: space-between;
}

#logo {
    display: flex;
    width: 33%;
    align-items: center;

}

#logoDim {
    height: 80%;
    padding-left: 6%;



}

#lienCentraux {

    display: flex;
    width: 33%;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    
    
}


.cgmTxt {
    color: black;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
}


.iconeNav{

    height: 20px;
    width: 20px;
}

#iconPosition{
    display: flex;
    width: 33%;
    justify-content: end;
    align-items: center;
    
}

#svgPanier {
    color: black;
    width: 10%;
}

#panierMarge {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.videoContent{
    position: relative;
}

.backgroundVideo{

    max-width: 100%;
    position: absolute;
    
    
}

.txtVid{

    padding-top: 15%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    color: white;
}   

.posTitre{
    display: flex;
}

.posPara{
   display: flex;
}

.behindVideo{
    background-color: white;
    height: 750px;
    position:static
}

.btnVid{
    background-color: white;
    border: none;
    font-weight: 700;

   padding-left: 40px;
   padding-right: 40px;
   padding-top: 20px;
   padding-bottom: 20px;

}


.cardProduitsCarre {
    width: 50%;
}



h3 {
    font-size: xx-large;
}

.selectArt {
margin-top: 4%;
margin-left: 4%;
}




.containerBox {
    display: flex;
    max-width: 100%;
    padding-top: 1%;
    margin-left: 2%;
    justify-content: center;
    
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    text-decoration: none;
    
}

.dim {
    max-width: 90%;
}

.imgDim {
    max-height: 60%;
}

.prixProd{
    color: darkorange;
    font-size:large;
    font-weight: 1000;
}

.containerBox2 {
    display: flex;
    max-width: 100%;
    padding-top: 1%;
    margin-left: 2%;
    justify-content: start;
    
}




#barreJauneMembre {
    background-color: yellow;
    margin-top: 4%;
    height: 16%;
    margin-bottom: -2%;
}


#barreJauneTxt {
    text-decoration: black;
    font-family: 'Roboto' black;
    font-size: xx-large;
    font-weight: 800;
    text-align: center;
    padding: 2%;    
    
}

#footer {
    display: flex;
    width: 100%;
    background-color: dimgrey;
    height: 8%;
    justify-content: center;
    
}

.txtFooter {
    display: flex;
    align-items: center;
}

#gaucheFoot {
    padding-right: 2%;
    display: flex;
    width: 50%;
    justify-content: flex-end;

}

#droitFoot {
    padding-left: 2%;
    display: flex;
    width: 50%;
    justify-content: flex-start;
}






/* confirmation produit */

#confirm{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btnProd {
    margin-top: 1%;
    width: 40%;
    height: 35%;
    background-color: black ;
    color: white;
    font-size: x-large;
}


@media (min-width: 820px) and (max-width: 1180px) { 
    

    h4{
        font-size: x-large;
    }

    .behindVideo {
        height: 364px;
    }

    .txtVid {
        padding-top: 6%;
    }

    #barreJauneMembre {
    
        margin-bottom: -4%;
    }

    .containerBox {
        flex-wrap: wrap;
    }

    .card {
        max-width: 50%;
    }

    .containerBox2 {
        flex-wrap: wrap;
    }

    .prixProd {
        font-size: x-large;
    }

    .dim {
        font-size: larger;
    }

    .posTitre {
        font-size: x-large;
    }

    .btnVid {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .selectArt {
        margin-top: 10%;
        margin-left: 4%;
        font-size: xxx-large;
    }
 }



 @media (min-width: 390px) and (max-width: 819px) { 
    

    h4{
        font-size: x-large;
    }

    .behindVideo {
        display: none;
    }

    .backgroundVideo {
        max-width: 100%;
        position: absolute;
        display: none;
    }

    .txtVid {
        padding-top: 6%;
        padding-bottom: 6%;
        position: relative;
        color: black;
        background-color: beige;
    }

    #barreJauneMembre {
    
        margin-bottom: -7%;
    }

    .selectArt {
        display: flex;
        margin-top: 10%;
        margin-bottom: 10%;
        justify-content: center;
        align-items: center;
    }

    #barreJauneTxt {
        text-decoration: black;
        font-family: 'Roboto' black;
        font-size: x-large;
        font-weight: 800;
        text-align: center;
        padding: 2%;
    }

    .containerBox {
        flex-wrap: wrap;
    }

    a {
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .txtVid {
        padding-top: 6%;
        color: black;
    }

    .btnVid {
        background-color: black;
        color: white;
    }

    .card {
        max-width: 100%;
    }

    .containerBox2 {
        flex-wrap: wrap;
    }

    .prixProd {
        font-size: x-large;
    }

    .dim {
        font-size: larger;
    }

    .posTitre {
        font-size: x-large;
    }

    .btnVid {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .selectArt {
        margin-top: 10%;
        margin-left: 4%;
        font-size: xx-large;
    }

    .cgmTxt {
        font-size: medium;
        padding-right: 5px;
        padding-left: 5px;
    }
 }