
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin:0%;
}




#BarreTopRetour {
    display: flex;
    background-color: black;
    justify-content: center;
}

#ColorBarreTopTxt {
    color: white;
}




#Navbar {
    display: flex;
    height: 80px;
    justify-content: space-between;
}

#logo {
    display: flex;
    width: 33%;
}

#lienCentraux {

    display: flex;
    width: 33%;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    
    
}

.iconeNav{

    height: 20px;
    width: 20px;
}

#iconPosition{
    display: flex;
    width: 33%;
    justify-content: end;
    align-items: center;
    
}

#videoContent{
    position: relative;
}

#backgroundVideo{
    max-width: 100%;
    position: absolute;
    
}

#txtVid{

    padding-top: 20%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;
}   

#posTitre{
    display: flex;
}

#posPara{
   
}

#test{
    background-color: black;
    height: 1100px;
    position: static;
}

.btnVid{
    background-color: white;
    border: none;

   padding-left: 40px;
   padding-right: 40px;
   padding-top: 20px;
   padding-bottom: 20px;

}
